@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;

}
header{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
header h1{
    font-family: 'Pacifico', cursive;
    
    
}
.head{
    width: 20%;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
    
}
.hello-user{
    font-weight: bold;
    padding: 1em;
    background-color: #273c75;
    border-radius: 10px;
    color: white;
}
nav{
    padding: 1em;
    font-weight: bold;
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
a{
    text-decoration: none;
    font-size: larger;
    color: black;
}
.nav-link:hover{
    transform: scale(1.2);
    transition: 1s;
   
}
main{
    background-color: #f5f6fa;
}
/*FOOTER**/
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20vh;
}
.nav-footer{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#icon1:before{
    content: "f";
    font-family: 'fontello';
    font-weight: bold;
    font-size: 1em;   
    padding: 1em;
    background-color: #273c75;
    border-radius: 50%;
    color: white;

}

#icon2:before{
    content: "i";
    font-family: 'fontello';
    font-weight: bold;
    font-size: 1em;
    background-color: #273c75;
    border-radius: 50%;
    color: white;
    padding: 1em;
}

#icon3:before{
    content: "y";
    font-family: 'fontello';
    font-weight: bold;
    font-size: 1em;
    background-color: #273c75;
    border-radius: 50%;
    color: white;
    padding: 1em;
}

#icon4:before{
    content: "p";
    font-family: 'fontello';
    font-weight: bold;
    font-size: 1em;
    background-color: #273c75;
    border-radius: 50%;
    color: white;
    padding: 1em;
}
.icons:hover{
    transform: scale(1.2);
    transition: 1s;
}
/*FIN FOOTER*/
/*Page accueil*/
.main-connected{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.main-connected h1{
    margin-bottom:1em;
    margin-top:1em;
}
.connected-content{
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.all-article{
    display: flex;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    width:40%;
    margin-bottom: 2em;
    background-color: white;
}
.content-article{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
}
.content-article a{
    color: #273c75;
    font-weight: bold;

}
.picture{
    width: 40%;
}
.picture img{
    width: 100%;
}
.accueil-titre{
    color: white;
    font-size: 5em;
    margin: 5%;
}
.container{
    background: url(src/img/mockup-863469_1920.jpg) no-repeat center ;
    background-size:cover;
    width: 50%;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub-container{
    width: 50%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
.accueil-bouton{
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em;
    background: white;
    border-radius: 10px;
    box-shadow: 3px 1px 19px 0px rgba(0,0,0,0.75);


}


/*Inscription*/
.inscription_container{
    height: 100vh;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
    height: 100%;

}
label{
    padding: 1%;
}
input{
    width:30%;
    height: 8%;
    border: 1px solid #273c75;
    background: transparent;
}
button{
   margin-top: 2%;
   width:15% ;
   border-radius: 10px;
   padding: 1%;
   background: white;
   box-shadow: 3px 1px 19px 0px rgba(0,0,0,0.75);
   font-weight: bold;
}
.connexion-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-connexion{
    height: 50vh;
}
/*Message utilisateur*/

.error{
    font-weight: bold;
    color: red;
}
/* Page administrateur*/
.main_admin{
    background: linear-gradient(135deg, #1e5799 0%,#2989d8 39%,#2989d8 39%,#2989d8 42%,#207cca 45%,#2989d8 50%,#7db9e8 56%,#7db9e8 56%);
    height: 80vh;
    
    
    
}
.main_admin h1{
    color: white;
}
.main_content{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}
.table_admin {
    width: 50%;
    border: 2px solid rgb(200, 200, 200);

}
.table_admin th{
    background-color:#353b48 ;
    color: white;
}
.table_admin tr:nth-child(even){
    background-color:#CFD8DC ;
}

.table_admin tr:nth-child(odd){
    background-color:#B0BEC5 ;

}

